﻿@model IEnumerable<MvcCrudWithAdo.Models.UserModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@Html.Raw(TempData["InsertMsg"])

@Html.Raw(TempData["UpdateMsg"])
@Html.Raw(TempData["DeleteErrorMsg"])
@Html.Raw(TempData["DeleteMsg"])
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {onclick="return confirm('Do you want to DELETE?');"})
            </td>
        </tr>
    }

</table>
